// COLOR VARIABLES
$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

$white: #fff;
$black: #000;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Poppins', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 62.5em; // 1000px / 16px = 62.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 112.5%; // (18 / 16) * 100 = 112.5% -> 1rem = 18px

    @media only screen and (max-width: $bp-large) {
        font-size: 105%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 100%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 95%;
    }
}

body {
    background-color: $white;
    color: $very-dark-cyan;
    font-family: $font-primary;
    font-weight: 400;
}

/* .attribution {
    grid-column: 1 / -1;
    background-color: $grayish-blue;
    text-align: center;
    padding: 20px;
    color: $dark-violet;

    a {
        color: $dark-violet;
        font-weight: bold;
    }
} */