// COLOR VARIABLES
$pink: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

$white: #fff;
$black: #000;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Poppins', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 68.75em; // 1100px / 16px = 68.75
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 112.5%; // (18 / 16) * 100 = 112.5% -> 1rem = 18px

    /* @media only screen and (max-width: $bp-large) {
        font-size: 97%;
    } */
}

body {
    background-color: $white;
    color: $grayish-blue;
    font-family: $font-primary;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-rows: 75px calc(100vh - 75px) min-content min-content min-content;
    grid-template-columns: [full-start] 1fr [center-start] minmax(1080px, 1fr) [center-end] 1fr [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: [full-start] 70px [center-start] 1fr [center-end] 70px [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 75px 1000px min-content min-content min-content;
        grid-template-columns: [full-start] 50px [center-start] 1fr [center-end] 50px [full-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: [full-start] 20px [center-start] 1fr [center-end] 20px [full-end];
    }
}

/* .attribution {
    grid-column: 1 / -1;
    background-color: $grayish-blue;
    text-align: center;
    padding: 20px;
    color: $dark-violet;

    a {
        color: $dark-violet;
        font-weight: bold;
    }
} */